apache-airflow==2.2.4
click==7.1.1
Flask==1.1.2
gitpython==3.1.12
joblib==0.15.1
matplotlib==3.2.1
numpy==1.22.0
pandas==1.0.3
pdpbox==0.2.0
pyarrow==0.17.0
scikit-learn==0.23.1
scipy==1.4.1
setuptools==41.2.0
tqdm==4.56.0
werkzeug==2.2.3
workalendar==14.2.0
